* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

html, body {
    font-family: Lato, "Arial", sans-serif;
    font-size: 10px;
    letter-spacing: -0.5px;
    color: #767e9e;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper-inner {
    padding: 0 40px;
}

.ancor-link {
    position: relative;
    top: -150px;
}

/* header */

.header {
    background-color: #2d303a;
    min-height: 95px;
    border-bottom: 6px solid #323746;
    position: sticky;
    top: 0;
    z-index: 15;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    font-style: normal;
    padding-left: 40px;
    padding-top: 29px;
}

.header__logo::after {
    content: "*";
    color: #f06c64;
}

.header__navigation {
    display: flex;
    width: 370px;
    justify-content: space-between;
    color: #ffffff;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding-top: 42px;
    margin-right: 41px;
}

.header__navigation li::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    margin-right: 15px;
    margin-bottom: 3px;
    background-color: #4a4d60;
    border-radius: 50%;
}

.header__navigation li:first-child::before {
    display: none;
}

.navigation__link a.active {
    color: #f06c64;
  }

.header__navigation li a:hover {
    color: #f06c64;
}

/* slyder */

.slider {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f06c64;
    height: 600px;
    border-bottom: 6px solid #ea676b;
}

.slider__arrow {
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow_left {
    left: 30px;
    background-image: url(assets/images/slider/arrow-back.png);
}

.arrow_right {
    right: 30px;
    background-image: url(assets/images/slider/arrow-forward.png);
}

.slider__arrow:hover {
    cursor: pointer;
    opacity: 0.6;
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: 0.5s ease-in;
}

.slide.active,
.slide.next {
    display: flex;
}


.slide-1 {
    align-items: center;
}

.slide-2 {
    background-image: url(assets/images/Slider2.png);
    align-items: center;
    
}

.slide-2 .phone_vertical {
    left: 280px;
    top: 2px;
    transform: scale(1.065);
}

.slide-2 .phone_vertical .phone__screen {
    background-image: url(assets/images/slider/slide-2-vertical-screen.png);
}

.phones {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 483px;
    width: 796px;
    margin: 0 auto;
}

.phone_vertical {
    position: relative;
    height: 483px;
    width: 240px;
}
.phone_vertical .phone__body {
    position: absolute;
    z-index: 2;
    background-image: url(assets/images/slider/phone-body-vertical.png);
    background-repeat: no-repeat;
    height: 458px;
    width: 216px;
    
}
.phone_vertical .phone__shadow {
    position: absolute;
    height: 483px;
    width: 240px;
    background-image: url(assets/images/slider/phone-shadow--vertical.png);
    background-repeat: no-repeat;
}
.phone_vertical .phone__screen {
    position: absolute;
    left: 14px;
    top: 65px;
    z-index: 5;
    background-image: url(assets/images/slider/screen-image-vertical.png);
    background-repeat: no-repeat;
    height: 333px;
    width: 188px;
}

.phone_vertical .phone__btn {
    bottom: 35px;
    left: 88px;
}

.phone__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
}

.phone_horizontal .phone__btn {
    bottom: 112px;
    left: 9px;
}

.phone_horizontal {
    position: relative;
    width: 483px;
    height: 240px;
}

.phone_horizontal .phone__body{
    position: absolute;
    z-index: 2;
    background-image: url(assets/images/slider/phone-body-horizontal.png);
    background-repeat: no-repeat;
    width: 458px;
    height: 216px;
}

.phone_horizontal .phone__shadow {
    position: absolute;
    height: 240px;
    width: 483px;
    background-image: url(assets/images/slider/phone-shadow-horizontal.png);
    background-repeat: no-repeat;
}

.phone_horizontal .phone__screen {
    position: absolute;
    left: 60px;
    top: 14px;
    z-index: 5;
    background-image: url(assets/images/slider/screen-image-horizontal.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 188px;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/* services */

.services {
    min-height: 500px;
    padding-top: 59px;
    padding-left: 40px;
    padding-right: 23px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    
}

.block__title {
    color: #666d89;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.block__description {
    padding-top: 18px;
    font-size: 1.8em;
    line-height: 30px;
    letter-spacing: -0.2px;
    font-weight: 400;
}

.services__layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 43px;
}

.services__item {
    width: 33%;
    display: flex;
    margin-bottom: 30px;    
}

.service__icon {
    margin-top: 4px;
}

.service__text {
    margin-left: 20px;
    overflow: hidden;
}

.service__title {
    color: #666d89;
    font-size: 1.8em;
    letter-spacing: 0.1px;
    padding-bottom: 8px;
}

.service__description {
    font-size: 1.2em;
    letter-spacing: 0.1px;
    line-height: 21.56px;
    text-align: justify;
    padding-right: 16px;
}

/* singolo part 2 */

.portfolio {
    color: #666d89;
    background-color: #2d303a;
    padding: 60px 30px 64px 40px;
    border-bottom: 6px solid #323746;
}

.portfolio__tabs {
    display: flex;
    margin-top: 10px;
}

.tab {
    font-size: 1.2em;
    border: solid 1px #666d89;
    border-radius: 6px;
    padding: 3px 7px;
    margin-right: 8px;
    letter-spacing: 0.11px;
}

.tab_selected {
    color: #ffffff;
    border: solid 1px #ffffff;
}

.tab a {
    color: inherit;
}

.tab:hover {
    cursor: pointer;
    color: #ffffff;
    border: solid 1px #ffffff;
    transition: 0.2s;
}



.portfolio__gallery {
    margin-top: 18px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 17px;
}

.gallery__item {
    
    height: 190px;
    width: 220px;
}

.gallery__item:hover {
    cursor: pointer;
}

.gallery__item .selected {
    box-sizing: border-box;
    height: 190px;
    width: 220px;
    border: solid 5px #F06C64;
}

.gallery__item:nth-child(n+13) {
    display: none;
}

.about-us {
    padding: 60px 25px 65px 40px;
    color: #666d89;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 44px;
}
.employee-card {
    width: 33%;
    overflow: hidden;
}

.emploee__name {
    margin-top: 13px;
    font-size: 1.8em;
    letter-spacing: 0.1px;
    white-space: nowrap;
}

.emploee__text {
    margin-top: 8px;
    font-size: 1.2em;
    letter-spacing: -0.45px;
    word-spacing: 3px;
    line-height: 21.5px;
}

.emploee__social {
    margin-top: 24px;
    display: flex;
}

.social__item {
    margin-right: 8px;
}

.social__item:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

/* get a quote */


.get-a-quote {
    min-height: 654px;
    color: #f0d8d9;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-top: 60px;
}


.light__title {
    color: #f0d8d9;
}

.get-a-quote__form {
    margin-top: 43px;
    padding-right: 20px;
    flex-grow: 1;
    color: #f0d8d9;
    font-size: 1.2em;
}

.get-a-quote__form input {
    display: block;
    width: 100%;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 13px 12px 12px 15px;
}

input::-moz-placeholder { 
    color: #f48c8f;
    font-size: 1.1em;
}

input::-webkit-input-placeholder { 
    color: #f48c8f;
    font-size: 1.1em;
}

textarea::-moz-placeholder { 
    color: #f48c8f;
    font-size: 1.1em;
}

textarea::-webkit-input-placeholder { 
    color: #f48c8f;
    font-size: 1.1em;
}

#description {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 10px 12px 10px 15px;
    resize: none;
}

#send {
    width: 15%;
    color: #f48c8f;
    padding: 10px 15px;
}

#send:hover {
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;
}

.contact-info {
    flex-basis: 300px;
    margin-top: 40px;
}

.contact-info__title {
    font-size: 1.9em;
}

.contact-info__text {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 22.5px;
    letter-spacing: -0.2px;
    text-align: justify;
}

.contact-info__location {
    font-size: 1.2em;
    line-height: 22.5px;
    margin-left: 3px;
    letter-spacing: -0.05px;
}

.contact-info__location img {
    margin-right: 11px;
}

.contact-info__phone {
    font-size: 1.2em;
    line-height: 22.5px;
    margin-left: 1px;
    letter-spacing: -0.05px;
}

.contact-info__phone img {
    margin-right: 11px;
}

.contact-info__email {
    font-size: 1.2em;
    line-height: 22.5px;
    margin-left: 1px;
    letter-spacing: -0.05px;
}

.contact-info__email img {
    margin-right: 9px;
}

/* modal window */

.modal {
    position: fixed;
    display: none;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #666d89;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }
  
  .modal__content {
    position: relative;
    padding: 15px;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    z-index: 30;
  }
  
  .modal__content .modal__text {
    padding: 10px 5px;
    max-height: 220px;
    overflow: auto;
  }
  
  #modal-btn {
    position: absolute;
    bottom: 18px;
    left: 50px;
    transform: translate(-50%);
    padding: 5px 20px;
    color: #886A30;
    border: 2px solid #666d89;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: box-shadow, border 300ms ;
  }
  
  .modal__content #modal-btn:hover {
    color: #f06c64;
    border: 2px solid #f06c64;
  }
  
  .modal__content #modal-btn:active {
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

/* footer */

.footer {
    background-color: #2d303a;
    min-height: 76px;
}
.copyright {
    margin-left: 42px;
    margin-top: 33px;
}

.footer__social {
    margin-top: 22px;
    margin-right: 32px;
    display: flex;
}

.social__item {
    margin-right: 8px;
}

.social__item:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}


@media screen and (max-width: 1019px) {
    .slider {
        height: 450px;
    }

    .arrow_right {
        right: 15px;
    }

    .arrow_left {
        left: 15px
    }

    .slide-2 {
        background-position: center;
        background-size: contain;
    }
    .slide-2 .phone {
        display: none;
    }

    .phones {
        transform: scale(0.75);
        min-width: 796px;
    }

    .services {
        padding-top: 40px;
        padding-right: 35px;
        padding-bottom: 20px;
    }

    .services__layout-3-column {

        margin-top: 35px;
    }
    .services__item {
        width: 46%;
        margin-bottom: 50px;
        margin-right: 20px;
    }

    .block__description {
        letter-spacing: 0.3px;
    }

    .portfolio__gallery {
        margin-top: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .gallery__item img {
        width: 100%;
        height: 100%;
    }

    .gallery__item {
        height: 100%;
        width: 100%;
    }

    .about-us {
        padding-top: 53px;
    }

    .layout-3-column {
        margin-top: 38px;
    }

    .employee-card {
        width: 31%;
        margin-right: 15px;
    }

    .emploee__photo {
        width: 100%;
    }

    .emploee__name {
        margin-top: 10px;
    }

    .emploee__text {
        margin-top: 0;
        text-align: justify;
        letter-spacing: 0;
    }

    .emploee__social {
        margin-top: 13px;
    }

    .get-a-quote {
        padding-top: 55px;
    }

    .get-a-quote__form {
        margin-top: 25px;
        padding-right: 30px;
    }

    .get-a-quote__form input {
        margin-bottom: 12px;
    }

    #description {
        height: 160px;
    }

    #send {
        width: 31%;
        color: #f48c8f;
        padding: 10px 50px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
    }

    .contact-info {
        flex-basis: 218px;
        margin-top: 22px;
    }

    .contact-info__text {
        margin-top: 1px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 767px){

    .header {
        display: flex;
        align-items: center;
        min-height: 72px;
    }

    .layout-2-column {
        margin-left: calc(50% - 125px);
        width: 95%;
    }

    .header__logo {
        padding-top: 5px;
        font-size: 1.95rem;
        line-height: 2.4rem;
        margin: 0 auto;
        padding-left: 0;
    }

    .header__navigation {
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 278px;
        padding-left: 70px;
        background-color: #2D303A;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;
        line-height: 29px;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        transition: left 0.3s ease-out;
    }

    

    .header__navigation li::before {
        display: none;
    }

    .hamburger {
        display: inline-block;
        position: fixed;
        top: 25px;
        left: 20px;
        width: 25px;
        height: 21px;
        transition-duration: .5s;
    }

    .hamburger_active {
        transform: rotate(90deg);
        z-index: 15;
        transition-duration: .5s;
    }

    .navigation_visible {
        left: 0;
    }

    .logo_visible {
        z-index: 15;
        margin-left: 70px;
    }

    .hamburger::before {
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 5px;
    }

    .hamburger::after {
        bottom: 0;
        left: 0;
        content: "";
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 5px;
    }

    .hamburger__line {
        top: calc(50% - 1.5px);
        left: 0;
        content: "";
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 5px;
        
    }

    .slider {
        height: 220px;
    }

    .slide {
        justify-content: center;
    }

    .arrow_right {
        right: 0;
    }

    .arrow_left {
        left: 0;
    }

    .phones {
        transform: scale(0.365);
    }

    .services {
        padding-top: 25px;
        padding-left: 32px;
        padding-bottom: 0;
    }

    .services__layout-3-column {
        margin-top: 26px;
        margin-bottom: -3px;
    }

    .services__item {
        width: 100%;
        margin-bottom: 26px;
        margin-right: 0;
    }

    .block__description {
        letter-spacing: 0;
    }

    .service__description {
        padding-right: 10px;
    }

    .portfolio {
        padding-top: 42px;
        padding-left: 30px;
        padding-bottom: 34px;
    }

    .block__description {
        letter-spacing: -0.03px;
    }

    .portfolio__tabs {
        margin-top: 15px;
    }

    .portfolio__gallery {
        margin-right: 0;
        margin-top: 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 11.5px;
    }

    .gallery__item:nth-child(n+9) {
        display: none;
    }

    .about-us {
        padding-top: 33px;
        padding-left: 30px;
        padding-bottom: 5px;
    }

    .block__description {
        letter-spacing: 0;
    }

    .layout-3-column {
        margin-top: 24px;
    }

    .employee-card {
        width: 100%;
        margin-right: 5px;
        margin-bottom: 32px;
    }

    .emploee__name {
        margin-top: 13px;
    }

    .emploee__text {
        margin-top: 1px;
    }

    .get-a-quote {
        padding-top: 45px;
        padding-bottom: 11px;
    }

    .wrapper-inner {
        padding: 0 30px;
    }

    .layout-2-column {
        flex-direction: column;
        margin-left: 0;
    }

    .get-a-quote__form {
        margin-top: 22px;
        padding-right: 0;
    }

    .get-a-quote__form input {
        padding-left: 7px;
    }

    #description {
        padding-left: 7px;
        margin-bottom: 13px;
    }

    #send {
        width: 100%;
        margin-bottom: 7px;
        padding: 17px 50px;
    }

    .contact-info__text {
        letter-spacing: 0;
        margin-bottom: 10px;
    }

    .contact-info__location {
        margin-bottom: 5px;
    }

    .contact-info__phone {
        margin-bottom: 2px;
    }

    .copyright {
        display: none;
    }

    .footer__social {
        margin-right: -9px;
        justify-content: center;
    }

    .modal__content {
        width: 300px;
        height: 270px;
    }

}

@media (max-width: 374px) {
    
    .phones {
        transform: scale(0.3);
    }

    .portfolio__tabs {
        flex-wrap: wrap;
    }

    .tab {
        margin-bottom: 8px;
    }
}